* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    max-width: 600px;
    width: 100%;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
}

.about,
.projects,
.contact {
    margin-bottom: 20px;
}

h2 {
    color: #0099ff;
    margin-bottom: 10px;
}

p {
    color: #333;
}

.projects .project-item {
    margin-bottom: 10px;
}

.projects a {
    color: #007bff;
    text-decoration: none;
}

.projects a:hover {
    text-decoration: underline;
}

.contact a {
    color: #007bff;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}
